@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Overlock:100,200,300,400,500,600,700'); 

.html {
    background-color: black; 
}

.col-md-6{
  height: 800px;
  background-color: black; 
 
}
.col-md-6{
  height: 800px;
  background-color: black; 
 
}

.col-md-6{
  height: 800px;
  background-color: black; 
 
}

.col-md-12{
  height: 150px; 
  background-color: black; 
 
}

.data-container img{
  max-height: 800px; 
}

#map {
   height: 800px;
   position: relative; 

}

.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

btn-primary{
    height: 40%; 
    background-color: grey; 
    color: grey;
}

.logo-class{
   position:absolute;
   top: 25px; 
   left: 25px; 
   z-index: 2;

}

.background-img{
     position: relative;
    top: 0;
    left: 0;
}


.button-grouping{
    position:absolute;
}

.main-logo img{
    position: absolute;

}

.input-field1{
    position: absolute;
    color:white;
    margin-left: 400px; 
    margin-top: 200px;
    
}

.input-field1 p{
    font-family:'Overlock';
    color:white;
    font-size: 20px; 
    
}

.input-field1 h2{
    font-family:'Overlock';
    color:white;
    margin-bottom: 20px; 
    
}

.input-field2{
    font-family: 'Overlock';
    position: absolute;
    color:white;
    margin-left: 400px; 
    margin-top: 525px;
    
}

.input-field2 p{
    font-family: 'Overlock';
    color:white;
    font-size: 20px;
    
}

.input-field2 h2{
    font-family: 'Overlock';
    color:white;
    margin-bottom: 20px; 
    
}


#button {
    width: 70px;
    height: 72px;
    padding: 9px 0;
    margin: 5px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 900; 
    line-height: 7px;
    text-align: center;
    color: #000;
    background: grey;
    border-color: grey; 
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}



#button2 {
    height: 40px;
    padding: 10px 0;
    border-radius: 12px;
    font-size: 18px;
    border-radius: 15px;
    text-align: center;
    margin-right: 140px;
    color: #000;
    font-weight: bold; 
    background: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#button:active{
    background:#ffad33;
    
}


#button:focus{
    background:#ffad33;
     color:black;
}



.startpoint{
    font-size: 20px; 
    padding-top: 10px;  
}

.poi-img{
    margin-top: 20px; 
    margin-left: 570px; 
    border-radius: 50%;
    position: absolute;
    top: 10px; 
    left: 10px; 
    z-index: 99;
}

.transbox {
    width: 300px ;
    color: white;
    background-color: #101010; 
    opacity: 0.8;
    margin-left: 570px; 
    margin-top: 225px; 
    position: absolute;
    left: 10px; 
    z-index: 99; 
}

.transbox p {
 margin: 5px

}

.transbox h3 {
 margin: 7px

}

.splash-bg {
  background-image: url("splashscreen1.png");

}

.testjsdiv{
    margin-top: 330px; 
    color: black;
}

#return{
    margin-left: 20px; 
}

#return a{
    color: grey; 
    font-size: 10px;

}

.btn-primary.active{
    background-color: orange;
    font-family: 'Overlock';
    font-size: 20px; 
}

.testwerkje{
    background-color: red; 
    color:red;
}