@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



.col-md-6{
  height: 870px;
  background-color: black; 
  border-style: dotted;
 
}

.col-md-12{
 height: 150px;  
  
}  

.data-container img{
  max-height: 900px; 
}


#map {
    min-height: 600px;
}

.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

btn-primary{
    height: 40%; 
}